.todo--list__container {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 2% 2% 3% 3%;
}